extends layout

block content
  h1 Bob
  script(type='text/javascript').
    var socket = io.connect();
    socket.on('news', function (data) {
      console.log(data);
      if (data.f && document.getElementById("resp")) { 
        var t = data.f.replace(/\n/g, '<br />');
        $("#resp").append('<p>'+t+'</p>');
      }
    })
    $(document).ready(function(){  
      $('#dform').submit(function(event) {
            event.preventDefault();
            var ip = $(this).find( "input[name='ip']" ).val();                
            if (!ip) { alert('IP field cannot be empty'); return false; }
            $("#resp").empty();
            $("#resp").append('<h4>'+ new Date() + '</h4><p>Waiting for Alice...</p>');
            var p = $.post( '/bobrun', $(this).serialize() );
            p.done(function(data) { console.log(' === done'); });
      });

      selected_node = nodes[0];
      links = gengrlinks;
      resetLinks();
      restart();

      $("#inpp").change(function () {
        var str = $('#inpp').find(":selected").val();
        console.log('----'+str);
        if (str=='evlgr') {
          console.log('evlgr');
          links = evalgrlinks;
          selected_node = nodes[99];
          restart();        	
        } else if (str=='gengr') {
          console.log('gengr');
          links = gengrlinks;
          restart();
        } else if (str=='gengr2') {
          links = gengr2links;
          selected_link = gengr2links[1];
          resetLinks();
          restart();        
        }
      });
    });
  div(class='row')
    div(class='span3')
      form(name="login", action="/bobrun", id="dform", method="post")
        input(type="text", id="ip", name="ip", value="10.158.81.145", placeholder="ip addr of Bob")
        br
        select(id="inpp",name="inpp")
          option(value="gengr") Gen1
          option(value="gengr2") Gen2
        br
        input(type="submit", id="sub", class="btn", value="Run Graph Intersection")
    div(class='span10',id='gr')
  div(id="resp")
  script(src='/javascripts/d3.v3.min.js')
  script(src='/javascripts/graph.js')
  script(src='/javascripts/bob.js')


